
@code{
    [Parameter] public List<Pelicula> Peliculas { get; set; }

    async Task Eliminar(Pelicula pelicula)
    {
        //var Confirmado = await Js.Confirm($"Desea borrar el registro {pelicula.Titulo}?");
        //if (Confirmado)
        //{
        //    Peliculas.Remove(pelicula);
        //    Console.WriteLine($"Eliminando la pelicula {pelicula.Titulo}");
        //}
    }

}
<div style="display:flex; flex-wrap: wrap; align-items:center;">
    <ListadoGenerico Listado="Peliculas">
        <Registros>
            <PeliculaIndividual Item="context" EliminarPelicula="Eliminar" />
        </Registros>
    </ListadoGenerico>
</div>
